@use "vars" as *;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;800&display=swap');

body {
    background-color: royalblue;
    margin: 0;
    font-family: Kanit, sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkblue;
}

.bg-reg {
    background-color: $bg-color-reg;
}

.bg-alt {
    background-color: $bg-color-alt;
}

.bg-alt2 {
    background-color: $bg-color-alt2;
}

.navbar {
    background-color: $bg-color-navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: $default-clearance;
    padding-block: 0.065 * $default-clearance;
    min-height: $navbar-min-height;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-name {
    display: flex;
    align-items: center;

    .logo-name-text {
        font-size: $logo-name-text-font-size;
    }

    .logo-name-icon {
        img {
            width: $logo-name-icon-img-width;
            margin-left: $logo-name-icon-img-margin-left;
            margin-right: $logo-name-icon-img-margin-right;
            margin-bottom: $logo-name-icon-img-margin-bottom;
        }
    }
}

.logo-tagline {
    font-weight: $logo-tagline-font-weight;
    font-size: $logo-tagline-font-size;
    margin-top: $logo-tagline-margin-top;
}

.nav-links {
    display: flex;
    width: 48%;
    justify-content: space-between;
    font-size: $nav-links-font-size;
    font-weight: normal;
}

.copyright {
    font-size: $copyright-font-size;
    font-weight: normal;
}

.splash {
    background-size: cover;
    height: $splash-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.splash-text {
    background-color: $bg-color-reg;
    font-size: $splash-text-font-size;
    font-weight: bold;
    padding-inline: $splash-text-padding-inline;
    padding-block: $splash-text-padding-block;
    margin: $splash-text-margin;
}
