////////////
// Colors //
////////////
$med-orange: #f1a536;
$rust: #a63223;
$grey: #dadfea;
$light-grey: #eef0f4;

$bg-color-navbar: $med-orange;
$bg-color-reg: white;
$bg-color-alt: $grey;
$bg-color-alt2: $light-grey;
$bg-color-btn: $rust;
$fg-color-btn: white;
$star-color: $rust;

//////////////////
// Measurements //
//////////////////
$scale-basis: 100vw;

$default-clearance: 0.07 * $scale-basis;

// nav bar //
$logo-name-text-font-size: 0.04 * $scale-basis;
$logo-name-icon-img-width: 0.03 * $scale-basis;
$logo-name-icon-img-margin-left: -0.0085 * $scale-basis;
$logo-name-icon-img-margin-right: -0.00124 * $scale-basis;
$logo-name-icon-img-margin-bottom: -0.003 * $scale-basis;
$logo-tagline-font-weight: 400;
$logo-tagline-font-size: 0.015 * $scale-basis;
$logo-tagline-margin-top: -0.01 * $scale-basis;
$nav-links-font-size: 0.016 * $scale-basis;

// splash //
$splash-height: 0.366 * $scale-basis;
$splash-text-font-size: .028 * $scale-basis;
$splash-text-padding-inline: 0.014 * $scale-basis;
$splash-text-padding-block: 0.001 * $scale-basis;
$splash-text-margin: 0.05 * $scale-basis;

$pic-3up-width: 0.26 * $scale-basis;
$pic-3up-img-height: 0.2 * $scale-basis;

$content-slice-heading-font-size: 0.03 * $scale-basis;
$content-slice-text-font-size: 0.02 * $scale-basis;
$cst-margin-top: calc(0.235 * $default-clearance);

$cap-font-size: 0.0165 * $scale-basis;
$cap-font-weight: normal;

$recipe-pitch-margin-top: calc(0.5 * $default-clearance);
$recipe-pitch-padding: calc(0.5 * $default-clearance) calc(2 * $default-clearance);
