@use "vars" as *;
@use "styles" as *;

#splash-rotw {
    background-image: url("../images/hotw.jpg");
    background-position-y: 40%;
}

.recipe-spec {
    padding-block: 1.9vw;
    padding-inline: $default-clearance;
}

.rs-header {
    font-size: 0.025 * $scale-basis;
}

.rs-content {
    width: 75%;
    display: flex;
    justify-content: space-between;
    font-size: 0.017 * $scale-basis;
}

.rs-row {
    display: flex;
}

.rs-label {
    font-weight: bold;
}

.rs-value {
    font-weight: normal;
    padding-left: 0.2rem;
}

.recipe-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.7 * $default-clearance;
}

.rh-row {
    display: flex;
    align-items: center;
}

.recipe-title {
    font-size: 0.038 * $scale-basis;
}

#review {
    margin-top: -0.009 * $scale-basis;
    margin-bottom: 0.004 * $scale-basis;
}

.stars {
    color: $star-color;
    font-size: 0.018 * $scale-basis;
}

.reviews {
    margin-inline: 0.5rem;
    font-size: 0.014 * $scale-basis;
    font-weight: normal;
}

.save-recipe {
    background-color: $rust;
    color: $fg-color-btn;
    font-weight: normal;
    font-size: 0.014 * $scale-basis;
    padding: 0.004 * $scale-basis;
    padding-inline: 0.02 * $scale-basis;
    border-radius: 0.02 * $scale-basis;
}

.print-icon {
    margin-left: 0.015 * $scale-basis;
    border: 0.0015 * $scale-basis solid $rust;
    border-radius: 0.1 * $scale-basis;
    padding: 0.003 * $scale-basis;
    padding-right: 0.0032 * $scale-basis;

    img {
        display: block;
        height: 0.02 * $scale-basis;
    }
}

.recipe-pitch {
    margin-inline: $default-clearance;
    margin-block: $recipe-pitch-margin-block;
    padding-inline: $recipe-pitch-padding-inline;
    padding-block: $recipe-pitch-padding-block;
    font-size: 0.021 * $scale-basis;
    line-height: 0.022 * $scale-basis;
    text-align: center;
}

.recipe-body {
    display: flex;
    margin-inline: $default-clearance;
    padding-bottom: 0.10 * $scale-basis;

    font-weight: normal;
    font-size: 0.015 * $scale-basis;
    line-height: 0.02 * $scale-basis;
}

.rb-col {
    flex-basis: 50%;
}

.rb-section-title {
    font-size: 0.025 * $scale-basis;
    font-weight: bold;
}

.rb-section-minor-title {
    font-weight: bold;
    font-size: 0.0163 * $scale-basis;
    margin-left: 0.014 * $scale-basis;
    margin-top: 0.021 * $scale-basis;
    margin-bottom: -0.015 * $scale-basis;
}

.rb-section-list {
    ul {
        padding-inline-start: 0.021 * $scale-basis;
    }

    ol {
        padding-inline-start: 0.01 * $scale-basis;
    }

    ul {
        span {
            margin-left: -0.007 * $scale-basis;
        }
    }

    ol {
        li {
            padding-left: 0.01 * $scale-basis;
        }
    }
}

.directions {
    li {
        margin-bottom: 0.021 * $scale-basis;
    }
}

#grill-timing {
    font-weight: bold;
    margin-left: 0.01 * $scale-basis;
}
