@use "vars" as *;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700;800&display=swap');

body {
    background-color: royalblue;
    margin: 0;
    font-family: Kanit, sans-serif;
    font-weight: 700;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkblue;
}

.bg-reg {
    background-color: $bg-color-reg;
}

.bg-alt {
    background-color: $bg-color-alt;
}

.bg-alt2 {
    background-color: $bg-color-alt2;
}

.navbar {
    background-color: $bg-color-navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: $default-clearance;
    padding-block: 0.065 * $default-clearance;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-name {
    display: flex;
    align-items: center;

    .logo-name-text {
        font-size: $logo-name-text-font-size;
    }

    .logo-name-icon {
        img {
            width: $logo-name-icon-img-width;
            margin-left: $logo-name-icon-img-margin-left;
            margin-right: $logo-name-icon-img-margin-right;
            margin-bottom: $logo-name-icon-img-margin-bottom;
        }
    }
}

.logo-tagline {
    font-weight: $logo-tagline-font-weight;
    font-size: $logo-tagline-font-size;
    margin-top: $logo-tagline-margin-top;
}

.nav-links {
    display: flex;
    width: 48%;
    justify-content: space-between;
    font-size: $nav-links-font-size;
    font-weight: normal;
}

.splash {
    background-size: cover;
    height: $splash-height;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#splash-stwor {
    background-image: url("../images/stwor.jpg");
    background-position-y: 4.2%;
}

#splash-hotw {
    background-image: url("../images/hotw.jpg");
    background-position-y: 40%;
}

.splash-text {
    background-color: $bg-color-reg;
    font-size: $splash-text-font-size;
    font-weight: bold;
    padding-inline: $splash-text-padding-inline;
    padding-block: $splash-text-padding-block;
    margin: $splash-text-margin;
}

.content-slice {
    padding: calc(0.6 * $default-clearance) $default-clearance;
}

.content-slice-heading {
    font-size: $content-slice-heading-font-size;
}

.content-slice-text {
    margin-top: $cst-margin-top;
    font-size: $content-slice-text-font-size;
    font-weight: 400;
    line-height: 13px;
}

.pic-row {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.pic-n-cap {
    // display: flex;
    // flex-direction: column;
    text-align: center;
}

.pic-3up {
    width: $pic-3up-width;

    img {
        width: 100%;
        height: $pic-3up-img-height;
        object-fit: cover;
    }
}

// #breakfast-pic {
//     background-image: url("../images/breakfast.jpg");
// }

// #lunch-pic {
//     background-image: url("../images/lunch.jpg");
// }

// #dinner-pic {
//     background-image: url("../images/dinner.jpg");
// }

.cap {
    font-size: $cap-font-size;
    font-weight: $cap-font-weight;
}

.recipe-spec {
    padding-block: 1.6vw;
}

.rs-content {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.rs-label {
    font-weight: bold;
}

.recipe-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $default-clearance;
}

.rh-row {
    display: flex;
}

.stars {
    color: $star-color;
}

.recipe-pitch {
    margin-top: $recipe-pitch-margin-top;
    padding: $recipe-pitch-padding;
}

.recipe-body {
    display: flex;
    margin-block: $default-clearance;
}

.rb-col {
    flex-basis: 50%;
}
